@charset "utf-8";

/* css reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0;}
table { border-collapse: collapse; border-spacing: 0;}
fieldset,img { border: 0;}
address,caption,cite,code,dfn,em,th,var { font-style: normal; font-weight: normal;}
ol,ul { list-style: none;}
caption,th { text-align: left;}
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal;}
q:before,q:after { content: '';}
abbr,acronym { border: 0;}
.wanmei_clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.wanmei_clearfix { display: inline-block;}
*html .wanmei_clearfix { height: 1%;}
.wanmei_clearfix { display: block;}

.wanmei_top { width: 100%; height: 41px; background: #fbfbfb url("images/top201305/bg.html"/*tpa=http://www.52qyzx.com:8080/ks/images/top201305/bg.html*/) repeat-x left top; position: relative; top: 0; left: 0; z-index: 20000;}
.wm-public { z-index: 19999;}
.wanmei_nav { width: 1002px; height: 37px; padding-top: 1px; padding-bottom: 3px; margin: 0 auto; background: #fbfbfb url("images/top201305/bg.html"/*tpa=http://www.52qyzx.com:8080/ks/images/top201305/bg.html*/) repeat-x left top; position: relative; top: 0; left: 0; z-index: 20000; font-family: "微软雅黑","宋体"; font-size: 12px;}
.wanmei_logo { width: 80px; height: 37px; position: absolute; top: -30px; left: 25px; background: url() no-repeat left -180px; z-index: 29000;}
.wanmei_logo_link { display: block; width: 80px; height: 37px; text-indent: -10000px; overflow: hidden; background: url();}
.wanmei_msg { width: 450px; height: 20px; line-height: 20px; position: absolute; top: 11px; right: 25px; text-align: right; z-index: 29000;}
.wanmei_msg_xian { display: inline-block; width: 16px; text-align: center; color: #a4a3a3; font-size: 8px; color: #a4a3a3; float: right;}
a.wanmei_msg_link01,a.wanmei_msg_link02,a.wanmei_msg_link03 { display: inline-block; height: 20px; line-height: 20px; color: #444444; font-size: 12px; text-decoration: none; float: right;}
a.wanmei_msg_link01:hover,a.wanmei_msg_link02:hover,a.wanmei_msg_link03:hover { text-decoration: underline;}
a.wanmei_msg_game { display: inline-block; float: right; width: 95px; height: 20px; line-height: 20px; color: #444444; font-size: 12px; text-decoration: none; background: url("images/wanmei_top.html"/*tpa=http://www.52qyzx.com:8080/ks/images/wanmei_top.html*/) no-repeat left top; text-align: left; text-indent: 9px; margin-left: 10px;}
.wanmei_games { width: 869px; /*background: #f8f8f8 url(./images/wanmei_games_bg.jpg) no-repeat left top;*/ background-color:#f8f8f8; position: absolute; top: 38px; right:25px; z-index: 30000; border: solid 1px #cfcfcf; border-top: none; display: none;}
.wanmei_games_l { width: 713px; border-right: solid 1px #cfcfcf; float: left; padding-top: 18px;}
.wanmei_games_r { width: 155px; float: right; padding-top: 7px;}
.wanmei_games_r .wmpassport{ width:134px; height:62px; margin-left:11px; margin-top:8px; display:block;}
.wanmei_games_r .wmpassport img{ width:134px; height:62px; display:block;}
.wanmei_games_hot { height: 72px;}
.wanmei_games_hot_list { width: 510px; float: left;}
.wanmei_games_hot_list li { width: 70px; float: left; padding-left: 14px; padding-bottom: 10px;}
.wanmei_games_hot_list li a { display: block; height: 38px; width: 70px;}
.wanmei_games_hot_list li img { width: 70px; height: 38px;}
.wanmei_games_hot_list li span { display: block; height: 20px; line-height: 20px; padding-top: 5px; font-size: 12px; color: #383838; text-align: center;}
.wanmei_games_hot_li01 { width: 60px; padding-left: 15px; font-size: 12px; color: #383838; font-weight: bolder; text-align: center; line-height: 40px; float: left; height: 40px;}
.wanmei_game_box { border-top: solid 1px #cfcfcf;}
.wanmei_game_item { float: left; height: 231px;}
.wanmei_game_khd { width: 356px; border-right: solid 1px #cfcfcf;}
.wanmei_game_wy { width: 118px; border-right: solid 1px #cfcfcf;}
.wanmei_game_dj { width: 118px; border-right: solid 1px #cfcfcf;}
.wanmei_game_sy{ width: 118px; }
.wanmei_game_box_head { height: 28px; line-height: 28px; text-align: center; font-weight: bolder;}
.wanmei_game_box_list { width: 118px; border-top: solid 1px #cfcfcf;}
.wanmei_game_box_list02 { border-right: solid 1px #cfcfcf; float: left;}
.wanmei_game_box_list03 { float: left;}
.wanmei_game_box_list li { height: 28px; line-height: 28px; padding-left: 18px; width: 100px; overflow: hidden; border-bottom: solid 1px #cfcfcf; background: url("images/wanmei_top.html"/*tpa=http://www.52qyzx.com:8080/ks/images/wanmei_top.html*/) no-repeat 10px -228px;}
.wanmei_game_box_list li.wanmei_noborderbottom { border-bottom: none;}
.wanmei_game_box_list li.wanmei_game_box_li_none { background: none;}
.wanmei_game_box_list li a { display: block; width: 100px; height: 28px; line-height: 28px; overflow: hidden; color: #383838; text-decoration: none;}
.wanmei_game_box_list li a.wanmei_hot { background: url("images/wanmei_top.html"/*tpa=http://www.52qyzx.com:8080/ks/images/wanmei_top.html*/) no-repeat 85px -52px;}
.wanmei_game_box_list li a.wanmei_new { background: url("images/wanmei_top.html"/*tpa=http://www.52qyzx.com:8080/ks/images/wanmei_top.html*/) no-repeat 85px -112px;}
.wanmei_game_box_list li a:hover { text-decoration: underline; color: #c20911;}
.wanmei_seaver { width: 140px; padding-left: 3px; }
.wanmei_seaver li { width: 62px; height: 62px; padding: 8px 0px 0px 8px; float: left;}
.wanmei_seaver li a { display: block; width: 62px; height: 62px; text-indent: -10000px; overflow: hidden; background-repeat: no-repeat; background-image: url("images/wanmei_fuwu.html"/*tpa=http://www.52qyzx.com:8080/ks/images/wanmei_fuwu.html*/);}
.wanmei_seaver li.wanmei_btn01 a { background-position: left top;}
.wanmei_seaver li.wanmei_btn02 a { background-position: -124px top;}
.wanmei_seaver li.wanmei_btn03 a { background-position: left -62px;}
.wanmei_seaver li.wanmei_btn04 a { background-position: -124px -62px;}
.wanmei_seaver li.wanmei_btn05 a { background-position: left -124px;}
.wanmei_seaver li.wanmei_btn06 a { background-position: -124px -124px;}
.wanmei_seaver li.wanmei_btn07 a { background-position: left -186px;}
.wanmei_seaver li.wanmei_btn01 a:hover { background-position: -62px top;}
.wanmei_seaver li.wanmei_btn02 a:hover { background-position: -186px top;}
.wanmei_seaver li.wanmei_btn03 a:hover { background-position: -62px -62px;}
.wanmei_seaver li.wanmei_btn04 a:hover { background-position: -186px -62px;}
.wanmei_seaver li.wanmei_btn05 a:hover { background-position: -62px -124px;}
.wanmei_seaver li.wanmei_btn06 a:hover { background-position: -186px -124px;}
.wanmei_seaver li.wanmei_btn07 a:hover { background-position: -62px -186px;}
.wanmei_ggbox_small { width: 600px; height: 37px; position: absolute; top: 1px; left: 105px; z-index: 21000;}
.wanmei_ggbox_small img { height: 37px;}
.wanmei_ggbox_big { width: 952px; height: 187px; position: absolute; left: 25px; top: 1px; z-index: 28000; display: none;}
.wanmei_ggbox_big a { display: block; height: 187px;}
.wanmei_ggbox_big img { display: block;}
/*google*/
.gsc-thumbnail-inside{ display:none}