@import url( "../../www.wanmei.com/style/wanmei_logo.css"/*tpa=http://www.wanmei.com/style/wanmei_logo.css*/);
BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, ו, Arial, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #717171; FONT-SIZE: 12px; PADDING-TOP: 0px
}
A {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
AREA {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: medium
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#wrap {
	WIDTH: 1003px; BACKGROUND: #fff; MARGIN-LEFT: auto; OVERFLOW: hidden; MARGIN-RIGHT: auto
}
.img {
	FLOAT: left
}
#top {
	MARGIN: 0px 0px 0px 22px; WIDTH: 1001px; FLOAT: left; HEIGHT: 94px
}
#wanmei {
	Z-INDEX: 1; POSITION: relative; WIDTH: 154px; FLOAT: left; HEIGHT: 67px
}
#wrap_nav {
	TEXT-ALIGN: center; LINE-HEIGHT: 23px; MARGIN: 3px 0px 0px 160px; WIDTH: 630px; FLOAT: left; HEIGHT: 23px
}
.input {
	BORDER-BOTTOM: #717171 1px solid; BORDER-LEFT: #717171 1px solid; HEIGHT: 12px; COLOR: #717171; FONT-SIZE: 12px !important; BORDER-TOP: #717171 1px solid; BORDER-RIGHT: #717171 1px solid
}
#flash {
	FLOAT: left
}
#wrap_con {
	MARGIN: 0px 25px; WIDTH: 953px
}
.imgborder {
	BORDER-BOTTOM: #c8c8c8 1px solid; BORDER-LEFT: #c8c8c8 1px solid; BORDER-TOP: #c8c8c8 1px solid; BORDER-RIGHT: #c8c8c8 1px solid
}
#left {
	WIDTH: 426px; FLOAT: left; HEIGHT: 158px
}
#center {
	WIDTH: 268px; FLOAT: left; HEIGHT: 158px
}
#right {
	WIDTH: 255px; FLOAT: left; HEIGHT: 158px
}
#con_main_01 {
	WIDTH: 200px; FLOAT: left; MARGIN-RIGHT: 13px
}
#con_txt_01 {
	TEXT-ALIGN: left; LINE-HEIGHT: 20px; PADDING-LEFT: 4px; WIDTH: 110px; FLOAT: left
}
#con_main_02 {
	MARGIN-TOP: 7px; WIDTH: 200px; FLOAT: left; HEIGHT: 69px; MARGIN-RIGHT: 13px
}
#con_main_03 {
	MARGIN-TOP: 7px; WIDTH: 200px; FLOAT: left; HEIGHT: 69px; MARGIN-RIGHT: 13px
}
#con_txt_02 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; WIDTH: 255px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 153px; PADDING-TOP: 5px
}
#con_txt_03 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; PADDING-LEFT: 13px; WIDTH: 242px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 153px; PADDING-TOP: 5px
}
UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 242px; PADDING-RIGHT: 0px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
LI {
	TEXT-ALIGN: left; PADDING-BOTTOM: 0px; LINE-HEIGHT: 23px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 300px; PADDING-RIGHT: 0px; FLOAT: left; COLOR: #585858; OVERFLOW: hidden; PADDING-TOP: 0px
}
.font01 {
	COLOR: #585858
}
.font02 {
	FONT-FAMILY: Verdana, sans-serif; FONT-SIZE: 10px
}
.font03 {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: #a6a6a6; FONT-SIZE: 10px
}
A {
	TEXT-DECORATION: underline
}
A:link {
	COLOR: #717171; TEXT-DECORATION: none
}
A:visited {
	COLOR: #717171; TEXT-DECORATION: none
}
A:hover {
	COLOR: #fc5c04; TEXT-DECORATION: none
}
#wanmei_logo {
	TOP: 1px; LEFT: 6px
}
#transparent_logo {
	TOP: 1px; LEFT: 6px
}
